<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Your AWS Access Key-->
    <add key="AWSAccessKey" value="AWSAccessKey" />
    
    <!--Your AWS Secret Access Key-->
    <add key="AWSSecretKey" value="AWSSecretKey" />
    
    <!--Your AWS Region-->
    <add key="AWSRegion" value="us-east-1" />
    
    <!--
      Snapshot Expiration, in Days.
      In this example, Snapshots older than 30 days will be deleted.
      Comment out this line or set it to 0 to skip deletion of old snapshots.
    -->
    <add key="SnapshotExpiration" value="30" />
    
    <!--Snapshot OwnerId-->
    <add key="SnapshotOwnerId" value="self" />
    
    <!--Snapshot Tagging Key-->
    <add key="SnapshotTagKey" value="AutoSnapper" />
    
    <!--Snapshot Tagging Value-->
    <add key="SnapshotTagValue" value="Stone Fin AutoSnapper" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
