<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.105.8" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.7.123.6" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.7.103.15" targetFramework="net45" />
  <package id="AWSSDK.SimpleDB" version="3.7.100.79" targetFramework="net45" />
  <package id="CLAP" version="4.6" targetFramework="net45" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net45" />
  <package id="NLog" version="4.3.4" targetFramework="net45" />
</packages>